<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <div>
        <form id="postForm" th:method="POST" th:action="@{'/courses'}"></form>
        <table>
            <tbody>
            <tr th:each="course : ${courses}">
                <td><input type="radio" form="postForm" name="courseId" th:value="${course.getCourseId()}">
                    <th:block th:text="${course.getName()}"></th:block>
                </td>
                <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:method="delete" th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}">
                            <button type="submit">
                                <i>Delete</i>
                            </button>
                        </form>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}">
                            <button type="submit">
                                <i>Edit</i>
                            </button>
                        </a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/courses/add-form">Add new course</a>
            </th:block>
        </div>
        <button type="submit" form="postForm" th:value="Submit">Submit</button>
    </div>
</main>
</br>
<th:block sec:authorize="isAuthenticated()">
    <a href="/logout">
        Logout
    </a>
</th:block>
<th:block sec:authorize="!isAuthenticated()">
    <a href="/login">
        Login
    </a>
</th:block>
</body>
</html>