<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <form>
        <div th:each="course : ${courses}">
            <input type="radio" name="courseId" id="courseId" th:value="${course.getCourseId()}" th:text="${course.getName()}">
            <div>
                <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}">
                    <i>Edit</i>
                </a>
            </div>
            <div>
                <form th:method="delete" th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        <div>
            <a href="/courses/add-form">Add new course</a>
        </div>
        <br/>
        <input href="/addStudent" type="submit" value="Submit">
    </form>
</main>
</body>
</html>