<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <form th:method="POST">
        <div th:each="course : ${courses}">
            <input type="radio" name="courseId" id="courseId" th:value="${course.getCourseId()}" th:text="${course.getName()}">
        </div>
        <br/>
        <input href="/addStudent" type="submit" value="Submit">
    </form>
</main>
</body>
</html>