<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <h1>Login user</h1>
</div>
<div>
    <form th:method="post">
        <label for='username'>Username:</label>
        <input id='username' type='text' name='username' required placeholder="Enter username"/><br/>
        <label for='password'>Password:</label>
        <input id='password' type='password' name='password' required placeholder="Enter password"/><br/>
        </br>
        <input type='submit' value='Submit'/>
    </form>
</div>
</br>
<th:block sec:authorize="isAuthenticated()">
    <a href="/logout">
        Logout
    </a>
</th:block>
</body>
</html>